providers = ["node"]

[phases.setup]
nixPkgs = ['nodejs', 'pnpm']

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm run build:server"
]

[start]
cmd = "cd examples/showcase/server && pnpm start"

